<component name="ArtifactManager">
  <artifact type="exploded-war" name="springbasic:war exploded">
    <output-path>$PROJECT_DIR$/target/springbasic</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springbasic</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springbasic" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.2.3" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.2.3" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.6.6" />
          <element id="library" level="project" name="Maven: com.h2database:h2:1.4.200" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springbasic/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springbasic/web/Web" />
    </root>
  </artifact>
</component>